body {
  background-image: url('img/shopping-background.jpg');
  margin: 0;
  padding: 0;
}

.wrapper {
  text-align: center;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

header > h1 {
  font-family: 'Bangers', cursive;
  font-size: 4em;
}

header > p {
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
}

.item-list {
  font-family: 'Handlee', cursive;
  font-size: 20px;
}

input {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  box-shadow: -webkit-box-shadow: 4px 6px 23px -2px rgba(17,128,109,0.71);
        -moz-box-shadow: 4px 6px 23px -2px rgba(17,128,109,0.71);
        box-shadow: 4px 6px 23px -2px rgba(17,128,109,0.71);
}

button > * {
  pointer-events: none;
}

li {
  list-style: none;
}